[Unit]
Description=ORICHILL VPN Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/OrichillVPN
ExecStart=/root/OrichillVPN/venv/bin/python main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
